{% extends "base.html" %}
{% load staticfiles %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'twvisafinder/css/custom.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
   {% block main %}
    <header id="main-header">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Taiwan Visa Finder</h1>
                <hr>
            </div>
        </div>
    </header>
    <section class="bg" id="welcome">
        <div class="container">
            <div class="row">
                <div>
                    <h2 class="section-heading">Welcome!</h2>
                    <p>
		    Select a category and learn about visas that might meet your needs.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="visacategories">
	<div class="container">
            <div class="row">
	    {% for category in categories %}
	    <div class="col-lg-4 visacategory">
                <a href="/{{ category.name }}/">
		<span class="visatitle"><h3>{{ category.name }}</h3><span class="icon-arrow-right"></span>
         	<span class="visadescription">{{ category.description }}<span class="icon-arrow-right"></span>
		</a>
	    </div>
	    {% endfor %}
	    </div>
	</div>
    </section>
    <section id="contact" class="bg-light">
                <div class="text-center">
                    <h2 class="section-heading">Contact us!</h2>
                    <hr class="primary">
                    <p>If you have any questions don't hesitate to reach out!</p>
                </div>
                <div class="text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:{{ support_email }}">{{ support_email }}</a></p>
                </div>
    </section>

   {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'twvisafinder/js/custom.js' %}"></script>
{% endblock %}
