.visacategories {
background-color: rgb(51, 51, 51);
box-sizing: border-box;
color: rgb(51, 51, 51);
font-family: Roboto, sans-serif;
font-size: 13.6px;
font-weight: 300;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 20px;
padding-top: 15px;
min-height: 194.333px;
position: relative;
}

.visacategory {
background-color: rgb(255, 255, 255);
box-sizing: border-box;
font-color: rgb(6, 27, 54);
font-family: Roboto, sans-serif;
font-size: 13.6px;
font-weight: 300;
border: 1px solid #d7d7d7;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
}

.visacategory a {
color: rgb(6, 27, 54);
display: block;
height: 100%;
width: 100%;
}

.visacategory:hover {
background-color: rgb(6, 27, 54);
font-color: rgb(255, 255, 255);
}

.visacategory:hover a {
	background-color: transparent;
	color: rgb(255,255,255);
	text-decoration: none;
}

.visadescriptions {
background-color: rgb(240, 240, 240);
}

.visarequirements {
  word-wrap: break-word; /* IE>=5.5 */
  white-space: pre; /* IE>=6 */
  white-space: -moz-pre-wrap; /* For Fx<=2 */
  white-space: pre-wrap; /* Fx>3, Opera>8, Safari>3*/
}


.visadesc {
background-color: rgb(255, 255, 255);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-collapse: collapse;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
box-shadow: rgba(193, 193, 193, 0.35) 1px 1px 4px 0px;
box-sizing: border-box;
color: rgb(51, 51, 51);
display: block;
font-family: Roboto, sans-serif;
font-weight: 300;
line-height: 19px;
margin-bottom: 19px;
transition-delay: 0s;
transition-duration: 0.3s;
transition-property: box-shadow;
transition-timing-function: ease-out;
width: 90%;
margin-left: auto;
margin-right: auto;
}

.visadesccontainer {
border-collapse: collapse;
box-sizing: border-box;
color: rgb(51, 51, 51);
font-family: Roboto, sans-serif;
font-weight: 300;
line-height: 19.4333px;
margin-left: 0px;
margin-right: 0px;
padding-bottom: 24.3px;
padding-left: 38.8667px;
padding-right: 38.8667px;
padding-top: 29.15px;
}

.visadesccontainer h3 {
color: rgb(12, 42, 80);
float: left;
font-family: Roboto, sans-serif;
font-size: 25px;
font-weight: 500;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
min-height: 1px;
position: relative;
}

.visacomments {
border-collapse: collapse;
box-sizing: border-box;
color: rgb(51, 51, 51);
font-family: Roboto, sans-serif;
font-size: 13.6px;
font-weight: 300;
line-height: 19.4333px;
margin-top: 19.4333px;
}

.gcdesccontainer {
border-collapse: collapse;
box-sizing: border-box;
color: rgb(51, 51, 51);
font-family: Roboto, sans-serif;
font-weight: 300;
line-height: 19.4333px;
margin-left: 0px;
margin-right: 0px;
padding-bottom: 10px;
padding-left: 38.8667px;
padding-right: 38.8667px;
padding-top: 10px;
}


.bg {
background-color: rgb(0,45,90);
color: rgb(255,255,255);
margin-bottom: 0px;
padding-bottom: 15px;
padding-top: 15px;
}


.btn {
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(0, 77, 142);
background-image: none;
background-origin: padding-box;
background-position: 0% 0%;
background-position-x: 0%;
background-position-y: 0%;
background-repeat: repeat;
background-size: auto;
border-bottom-color: rgb(46, 109, 164);
border-bottom-left-radius: 1.94333px;
border-bottom-right-radius: 1.94333px;
border-bottom-style: solid;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(46, 109, 164);
border-left-style: solid;
border-left-width: 0px;
border-right-color: rgb(46, 109, 164);
border-right-style: solid;
border-right-width: 0px;
border-top-color: rgb(46, 109, 164);
border-top-left-radius: 1.94333px;
border-top-right-radius: 1.94333px;
border-top-style: solid;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline-block;
font-family: Roboto, sans-serif;
font-feature-settings: normal;
font-kerning: auto;
font-language-override: normal;
font-optical-sizing: auto;
font-size: 13.6px;
font-size-adjust: none;
font-stretch: 100%;
font-style: normal;
font-variant: normal;
font-variant-alternates: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-variant-position: normal;
font-variation-settings: normal;
font-weight: 400;
line-height: 13.6px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
min-width: 0px;
overflow: visible;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 13.6px;
padding-left: 17.4833px;
padding-right: 17.4833px;
padding-top: 13.6px;
text-align: center;
text-decoration: rgb(255, 255, 255);
text-decoration-color: rgb(255, 255, 255);
text-decoration-line: none;
text-decoration-style: solid;
text-decoration-thickness: auto;
text-transform: none;
touch-action: manipulation;
user-select: none;
vertical-align: middle;
white-space: nowrap;
-moz-appearance: button;
}

.text-right {
padding-left: 15px;
padding-right: 15px;
position: relative;
text-align: right;
}
